.home {
  position: relative;
  display: grid;
  grid-template-columns: 18rem auto 20rem;
  gap: 1rem;
  margin-top: 10px;
}

@media (max-width: 965px) {
  .home {
    display: block;
    margin-top: 0;
    margin: 0;
    margin-bottom: 4rem;

    .homeCenter {
      width: 100vw;
      padding: 10px;
    }
  }

  .Profile {
    margin-bottom: 4rem;
  }
}
