.Skeleton {
    background: linear-gradient(90deg, #181818 8%, #242424 18%, #181818 33%);
    background-size: 200% 100%;
    animation: .9s shine linear infinite;

    height: 100%;
	border: var(--container-border);
	border-radius: 1rem;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
