input {
  background-color: var(--input-color);
}

.ProfileEditModal {
  background-color: var(--container-color);
  padding: 20px;
  border-radius: 1rem;
  color: white;
  border: var(--container-border);

  .infoForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    div {
      display: flex;
      justify-content: space-between;
    }

    .image {
      display: flex;
      font-family: var(--en-font);
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;

      div {
        img.image2 {
          width: 5rem;
          height: 5rem;
          object-fit: cover;
          border-radius: 50%;
          left: 2rem;
          bottom: -4.5rem;
          border: 5px solid white;
        }
      }

      .twospan {
        display: block;
      }

      .twospan > p:nth-of-type(1) {
        font-size: x-large;
        font-weight: 700;
      }
      .twospan > p:nth-of-type(2) {
        font-size: 18px;
        font-weight: 700;
        margin-top: -0.6rem;
        opacity: 0.7;
      }
    }
  }

  .infoForm h3 {
    font-weight: bold;
    font-size: x-large;
    font-family: var(--en-font);
  }

  .infoForm > input {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: none;
  }

  .infoForm > div > input {
    width: 49.5%;
    border-radius: 5px;
    padding: 10px;
    border: none;
  }

  .infoForm > button {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: var(--button-color);
  }
  .modalbtn {
    padding: 10px 20px;
  }
}
